<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>pg_tileserv: {{.ID}}</title>
    <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
      body {margin:0;padding:0;font-family:sans-serif;}
      #map {position:absolute;top:0;bottom:0;left:0;right:0;}
      #meta {z-index:2;color:black;background:rgba(255,255,255,0.6);position:absolute;top:10;left:20;padding:10 20;margin:0;width:min-content;}
      #meta h1 {margin:0;}
      #meta .properties {font-size:90%; width:auto;}
    </style>
  </head>
<body>

  <div id="meta">
    <h1>{{ .ID }}</h1>
    {{ if .Description }}
    <p>{{ .Description }}</p>
    {{ end }}
    {{ if .Properties }}
    <hr/><p class="properties">{{ range $k, $v := .Properties }}{{ $v.Name }} {{ end }}</p>
    {{ end }}
  </div>

  <div id="map"></div>

  <script>
    $.getJSON("{{ .ID }}.json", function(layer) {
      var map = new maplibregl.Map({
        container: 'map',
        bounds: layer['bounds'],
        hash: true,
        style: {
          version: 8,
          sources: {
            basemap: {
              type: 'raster',
              tiles: [
                "https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://b.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://c.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://d.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"
              ],
              tileSize: 256
            }
          },
          layers: [{
            id: 'basemap',
            type: 'raster',
            source: 'basemap',
            minzoom: 0,
            maxzoom: 22
          }]
        }
      });

      map.addControl(new maplibregl.NavigationControl());

      map.on("load", function() {
        const queryParam = new URLSearchParams(window.location.search).toString();
        const tileUrl = layer["tileurl"] + (queryParam.length ? "?" + queryParam : "");

        map.addSource("raster-layer", {
          type: "raster",
          tiles: [tileUrl],
          tileSize: 256,
          minzoom: layer["minzoom"],
          maxzoom: layer["maxzoom"]
        });

        map.addLayer({
          id: "raster-layer",
          type: "raster",
          source: "raster-layer"
        });
      });
    });
  </script>

</body>
</html>
